@page "/contosouniversity"
<h1>Contoso University</h1>

<h2>Students</h2>
<a href="student">view students</a>

<h2>Courses</h2>
<a href="course">view courses</a>

<h2>Enrollment</h2>
<a href="enrollment">view enrollment</a>