@page "/user/random"
@using BlazorCRUD.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h1>RandomUser</h1>
<hr />

<div class="form-group">
        <!--<button type="submit" class="btn btn-primary">Create User</button>-->
        <button class="btn btn-primary" @onclick="GenerateRandomUser">Create User</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>

@code {
    protected List<User> userList = new();
    public void Cancel()
    {
        NavigationManager.NavigateTo("/fetchuserdetails");
    }
    public async Task GenerateRandomUser()
    {
        var x = await Http.PostAsync("api/user/randomadd", null);
        userList = await Http.GetFromJsonAsync<List<User>>("api/User");
        
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}