@page "/enrollment"
@using BlazorCRUD.Shared.ContosoUniversityModels
@inject HttpClient service
@inject IJSRuntime js

<h1>Enrollments</h1>
<div class="container">

    <div class="row bg-light">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Course Name</th>
                    <th>Student Name</th>
                </tr>
            </thead>
            <tbody>
                @if (Enrollments.Any())
                {
                    @foreach (var enrollment in Enrollments)
                    {
                        <tr>
                            <td>@enrollment.EnrollmentID</td>
                            <td>@enrollment.CourseID</td>
                            <td>@enrollment.StudentID</td>
                            
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="6"><strong>Enrollment data not available</strong></td></tr>
                }
            </tbody>
        </table>
    </div>

</div>

@code {

    List<Enrollment> Enrollments = new List<Enrollment>();
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Enrollments);
        //await RefreshProducts();
        Enrollments = await service.GetFromJsonAsync<List<Enrollment>>("api/enrollment");
        
    } 
}